input{
    margin: 10px;
}
#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
    border-color:mediumblue;
}
#sort_button{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color:mediumblue;
}
body{
    background-color:cornflowerblue;
}